.head{
    background-color: rgb(2, 90, 141);
    color: white;
}

.backpage{
    background-color: rgb(69, 101, 119);
    overflow-x: hidden;
}

.footer{
    background-color: rgb(25, 75, 104);
    color: white;
    line-height: 24px;
    
}